.idea
.DS_Store
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml

# Directories
node_modules/

# React modules
modules/
modules/admin/
modules/front/

# DI cache
di/cache/

# Misc
*.sql
*.tar.gz
*.zip
